.moadal-fixed {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: auto;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.modal-body {
  padding: 10px 20px;
}

.btn-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 32px;
}

.modal-name {
  margin: 0;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

::ng-deep .fc-day-selectable {
  background-color: #183f06;
}
